
<h1>Classements Ecuries</h1>

<%# btn choix saison %>
  Choix saison |
    <% @saisons.each do |saison| %>
          <%= link_to "#{saison.nom}", 
              classecuries_path(saisonId: saison.id), class:"btn btn-secondary", :method => :post %> 
    <% end %>

      <% if (@saisonId).present? %>
        <% @saisonId %>
        <hr/> 

        <%# btn choix division %>
        Choix division |
        <% @divisions.each do |division| %>
          <%= link_to "D#{division.numero}", 
              classecuries_path(saisonId: @saisonId, divisionId: division.id), 
              class:"btn btn-dark", :method => :post %> 
        <% end %>

          <% if (@divisionId).present? %>
            <% @divisionId %>
            <hr/> 

            <%# btn choix event %>
            Choix event |
            <% @eventsFiltres.order(:numero).each do |event| %>
              <% if @saisonId = event.saison_id %>
                <% if @divisionId = event.division_id %>
                  <% divGp = Division.find(event.division_id).numero %>
                  <% saisonEvent = Saison.find(event.saison_id).nom %>
                  <% nomPays = Circuit.find(event.circuit_id).pays %>
                  <%= link_to "GP #{event.numero}"" - #{nomPays}", 
                      classecuries_path(saisonId: @saisonId, divisionId: @divisionId, eventId: event.id), 
                      class:"btn btn-primary", :method => :post %> 
                <% end %>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
  <hr/>



 
 <% if (@eventId).blank? %>
 <% else %>

    <table width="600">
        <thead>
          <tr>
            <th>N°</th>
            <th>Date</th>
            <th>Pays</th>
            <th>Drapeau</th>
            <th>Carte</th>
            <th>Division</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
                <%= Event.find(@eventId).numero %>
            </td>
            <td>
                <%= Event.find(@eventId).date %>
            </td>
            <td>
                  <% circuitId = Event.find(@eventId).circuit_id %> 
                  <%= Circuit.find(circuitId).pays %>
            </td>
            <td width="60">
              <% if (Circuit.find(circuitId).drapeau).blank? %>
              <% else %>
                <%= image_tag(Circuit.find(circuitId).drapeau, style: "width: 50px; display: block", class: "img-fluid rounded") %> 
              <% end %>
            </td>
            <td width="60">
              <% if (Circuit.find(circuitId).carte).blank? %>
              <% else %>
                  <%= image_tag(Circuit.find(circuitId).carte, style: "width: 50px; display: block", class: "img-fluid rounded") %>  
              <% end %>
            </td>
            <td>
             
                <% divisionId = Event.find(@eventId).division_id %> 
                <%= Division.find(divisionId).numero %>
            
            </td>
          </tr>
      </tbody>
    </table>
 <% end %>
    <hr/>
   
 <%#= tableau data classement %>

 <% if (@eventId).blank? %>
 <% else %>
  <% eventNum = Event.find(@eventId).numero %>

      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th style="text-align: center;">#</th>
            <th>Ecurie</th>
            <th style="text-align: center;">total</th>
          </tr>
        </thead>
       <tbody>
         
             <% if @equipes.blank? %>
             <% else %>
               <tr>
                <% @equipes.each_with_index do |equipe, i| %>
                   <td style="text-align: center;">
                    <strong>  
                      <%= (i+1) %>
                    </strong> 
                   </td>
                   <td>
                      <div class="contenant">
                        <% equipeId = equipe.id %>  
                        <%= image_tag Equipe.find(equipeId).logo, style: "width: 200px; display: block", class: "img-fluid rounded" %>
                          <div class="texte_centrer">
                            <%= equipe.nom %>  
                          </div>
                      </div>
                   </td>

                     <td style="text-align: center;">
                      <% saisonId = Event.find(@eventId).saison_id %>
                      <% divisionId = Event.find(@eventId).division_id %>
              
                      <strong>
                        
                          <% cumulScore = Resultat.joins(:event).where('numero <= :numero AND saison_id = :saison_id AND ecurie = :ecurie
                          AND division_id = :division_id', 
                            numero: eventNum, saison_id: saisonId, ecurie: equipe.id, division_id: divisionId).sum(:score)  %>
                          <%= number_with_precision(cumulScore, precision: 0) %>

                      </strong>
                   </td>
                  </tr>
                <% end %>
             <% end %>
         
       </tbody>
      </table>

  <%# PDF event actif %>
   
  <%= link_to "PDF", classecuries_path(eventId: @eventId, format: :pdf), class:"btn btn-dark" %>

  <% end %>
